.table-footer {
    display: flex;
    width: max-content;
    margin: 0px 0px 0px auto;

    span {
        font-size: 13px;
        font-weight: 600;
        color: var(--dark-grey);
        margin-top: 3px;
        &:first-child {
            margin-right: 5px;
        }
    }

    .options-list {
        display: flex;

        span {
            margin-right: 5px;
            letter-spacing: 2px;
        }

        .option {
            outline: none;
            width: 25px;
            height: 25px;
            margin-right: 5px;
            cursor: pointer;
            border: none;
            font-weight: 600;
            font-size: 13px;
            background-color: transparent;
            color: var(--dark-grey);
            border-radius: 3px;
        }
    }
}