.work-list {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    font-family: "RadikalW01-Regular";

    .table-options {
        display: flex;
        margin-bottom: 10px;
    
        .select-box {
            text-align: right;
            margin: 0px 0px 0px auto;
    
            span {
                color: var(--dark-grey);
            }
            
            table-header {
                margin: 0px 5px;
            }
        }
    }


}