<div class="talent">
	<form>
		<div class="row social-media-input">
			<div class="item">
				<div>
					<label>Name</label>
					<i class="fas fa-user"></i>
				</div>
					<input type="text" name="name" [(ngModel)]="item.title">
			</div>
			<div class="item">
				<div>
					<label>Twitter</label>
					<i class="fab fa-twitter"></i>
				</div>
				<input type="text" name="twitter" [(ngModel)]="item.twitter">
			</div>
		</div>
		<div class="row social-media-input">
			<div class="item">
				<div>
					<label>Instagram</label>
					<i class="fab fa-instagram"></i>
				</div>
				<input type="text" name="instagram" [(ngModel)]="item.instagram">
			</div>
			<div class="item">
				<div>
					<label>Facebook</label>
					<i class="fab fa-facebook-f"></i>
				</div>
				<input type="text" name="facebook" [(ngModel)]="item.facebook">
			</div>
		</div>
		<div class="row social-media-input">
			<div class="item">
				<div>
					<label>Linkedin</label>
					<i class="fab fa-linkedin"></i>
				</div>
				<input type="text" name="linkedin" [(ngModel)]="item.linkedin">
			</div>
			<div class="item">
				<div>
					<label>Website link</label>
					<i class="fas fa-link"></i>
				</div>
				<input type="text" name="website" [(ngModel)]="item.website">
			</div>
		</div>

		<div class="row upload-item">
			<div class="item">
				<label>Listing Photo</label>
				<div class="upload-container">
					<label for="file-listing"><i class="fas fa-upload"></i>Upload Listing Image</label>
					<input class="input-file" type="file" id="file-listing" name="listingImage" (change)="onListingChange($event)">
					<image-cropper #listingCropper [autoCrop]="false" [cropper]="listingCropperConfig" (cropperReady)="onCropperReady($event)" [imageURL]="listingImageFromURL" [imageChangedEvent]="listingImage" format="jpeg" (imageCropped)="onListingCropped($event)"></image-cropper>
				</div>
			</div>
		</div>
		<div class="row upload-item">
			<div class="item">
				<label>Profile Photo</label>
				<div class="upload-container">
					<label for="file-profile"><i class="fas fa-upload"></i>Upload Profile Image</label>
					<input class="input-file" type="file" id="file-profile" name="profileImage" (change)="onProfileChange($event)">
					<image-cropper #profileCropper [autoCrop]="false" [cropper]="profileCropperConfig" (cropperReady)="onCropperReady($event)" [imageURL]="profileImageFromURL" [imageChangedEvent]="profileImage" format="jpeg" (imageCropped)="onProfileCropped($event)"></image-cropper>
				</div>
			</div>
		</div>
		<div class="row editor">
			<div class="item editor">
				<label>About</label>	
				<quill-editor name="editor" [(ngModel)]="item.about"></quill-editor>
			</div>
		</div>
		<div class="media" *ngIf="medias.length">
			<div class="table">
				<div class="row header">
					<div class="cell">
						<span>Title</span>
					</div>
					<div class="cell">
						<span>Published</span>
					</div>
					<div class="cell">
						<span>Type</span>
					</div>
				</div>
				<div class="row" *ngFor="let media of medias">
					<div class="cell">
						<span>{{media?.title}}</span>
					</div>
					<div class="cell">
						<input class="checkbox" type="checkbox" name="published" (click)="togglePublished(media)" [(ngModel)]="media.published" [ngModelOptions]="{standalone: true}">
					</div>
					<div class="cell">
						<span>{{media.__t}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row footer">
			<button [disabled]="checkButtonStatus()" type="button" class="green" (click)="onSaveClick()">Save</button>
		</div>
	</form>
</div>