select {
    padding: 5px;
    cursor: pointer;
    color: var(--dark-blue-secondary);
    border-color: var(--dark-grey);
    border-radius: 3px;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    font-family: "RadikalW01-Regular";
}