<div class="video">
	<form>
		<div *ngIf="item.path" class="row">
			<div class="column">
				<video [src]="item.path" #videoPlayer controls (loadedmetadata)="onDataLoaded($event)" (play)="onPlayClick()" (timeupdate)="onTimeUpdate()"></video>
				<ng5-slider [(value)]="value"
							[(highValue)]="highValue"
							[options]="options"
							(userChange)="onUserChange($event)">
				</ng5-slider>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<div class="item">
					<label>Title</label>
					<input type="text" name="name" [(ngModel)]="item.title">
				</div>
				<div class="item">
					<label>Talent</label>
					<combo-box [items]="talents" [config]="comboBoxConfig"></combo-box>
				</div>
			</div>
			<div class="column">
				<div *ngIf="!item.path" class="item">
					<label>Video</label>
					<input type="file" name="file" (change)="onVideoFileChange($event)">
				</div>
				<div class="item thumbnail-selection-section">
					<label>Thumbnail</label>
					<div class="thumbnail-selection-box">
						<img id="thumbnail-preview" src="{{thumbnailSrc}}" alt="">

						<div class="default-thumbnail">
							<i (click)="showThumbnailSelection()" class="fas fa-camera fa-2x"></i>
							<span>Select</span>
						</div>

						<div class="custom-thumbnail">
							<input class="input-file" id="file" type="file" name="file" (change)="onImageFileChange($event)" onchange="document.getElementById('thumbnail-preview').src = window.URL.createObjectURL(this.files[0])">
							<thumbnail-list (notifyThumbnail)="changeThumbnail($event)" (notifyClose)="closeThumbnailSelection($event)" *ngIf="item.thumbnails&&thumbnailListVisible" [thumbnailsList]="item.thumbnails"></thumbnail-list>
							<div>
								<label for="file"><i class="fas fa-upload fa-2x"></i></label>
								<span>Upload</span>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="row footer">
			<button type="button" class="green" (click)="onSaveClick()">Save</button>
		</div>
	</form>
</div>