.thumbnails-list {
    display: flex;
    flex-direction: column;
    background-color: #FFFF;
    margin-bottom: 100px;
    padding: 25px;
    box-shadow:5px 5px 10px 5px grey;  
    border-radius: 10px;
    font-family: "RadikalW01-Thin";
    font-weight: 600; 
    position: absolute;
    top: 150px;
    left: 375px;

    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--light-grey-primary);
        color: var(--medium-grey);

        span {
            margin: auto auto auto 0;
            font-size: 17px;
            letter-spacing: 1px;
        }

        i {
            margin: auto 0 auto auto;
            font-family: 'FontAwesome';
            font-style: normal;
            cursor: pointer;

            &:hover {
                color: var(--dark-grey);
            }
        }
    }


    .image-list {
        padding: 15px 0;
        display: grid;
        grid-template-columns: repeat(5, 200px);
        grid-auto-rows: min-content;
        column-gap: 20px;
        row-gap: 20px;
       
        .image {
            padding: 5px;
            border: 2px solid var(--light-grey-secondary);
            width: 200px;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                border-color: var(--dark-grey);
            }

            img {
                max-width: 200px;
            }
        };
    }  

    .footer {
        direction: ltr;
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;
        border-top: 1px solid var(--light-grey-primary);

        .close-btn {
            margin-right: 10px;
        }

        .save-btn {
           background-color: var(--save-green-primary);

           &:hover {
               background-color: var(--save-green-secondary);
           }
        }
    }
}