.table {
	.row {
		display: flex;
		border-top: 1px solid var(--light-grey-secondary);

		&:first-child {
			border-bottom: 2px solid var(--light-grey-secondary);
		}

		&:last-child {
			border-bottom: 1px solid var(--light-grey-secondary);
		}

		> .cell {
			width: 100%;
			height: 50px;
			padding: 10px 10px 10px 30px;
			display: flex;

			span {
				margin-top: auto;
				margin-bottom: auto;
			}

			.img-placeholder {
				i {
					margin-top: auto;
					margin-bottom: auto;
				}
			}
		}
	}
}