
:root {
    --light-blue-primary: #3AA7FA;
    --light-blue-secondary: #318FD5;
    --dark-blue-primary: #2E4252;
    --dark-blue-secondary: #253541;
    --light-grey-primary: #e6e6e6;
    --light-grey-secondary: #D2D2D2;
    --light-silver: #CADBE7;
    --dark-silver: #8DD0FF;
    --dark-grey: #606569;
    

    --upload-button-primary:#e1e7ff; 
    --upload-button-secondary:#b5bbd1; 
}

