<div class="talent-list">
	<div class="table-options">
        <button class="button-new" (click)="navigateToNew()">New</button>
        <div class="select-box">
            <span>Show</span>
            <table-header (onValueChange)='setItemsPerPage($event)' [itemsPerPage]='itemsPerPage'></table-header>
            <span>entries</span>
        </div>
    </div>
	<table *ngIf="list && list.length" [dataType]="'Talent'" [listOfItems]='list' (onSortChange)='setSortOptions($event)' (onNavigate)='navigateToEdit($event)'></table>
	<table-footer *ngIf="list.length" [itemsPerPage]="itemsPerPage" [nrOfItems]="nrOfItems" (onPageChange)='setCurrentPage($event)'></table-footer>
</div>