<div class="talent-list">
	<div class="table-options">
        <button class="button-new" (click)="navigateToNew()">New</button>
        <div class="select-box">
            <span>Show</span>
            <table-header (onValueChange)="setItemsPerPage($event)" [itemsPerPage]="itemsPerPage"></table-header>
            <span>entries</span>
        </div>
    </div>
	<div *ngIf="list && list.length" class="table">
        <table [dataType]="'talent'" [listOfItems]='list' (onSortChange)='setSortOptions($event)' (onNavigate)='navigateToEdit($event)'></table>
        <table-footer [itemsPerPage]="itemsPerPage" [nrOfItems]="nrOfItems" (onPageChange)='setCurrentPage($event)'></table-footer>
    </div>
</div>