
.talent-list {
    display: flex;
    flex-direction: column;
    font-family: "RadikalW01-Regular";

    .table-options {
        display: flex;

        button {
            margin: auto auto 10px 0px;
            width: 100px;
            padding: 5px 0px;
            font-family: "RadikalW01-Regular";
            font-size: 15px;
            font-weight: 600;
            color: #FFFF;
            background-color: var(--light-blue-primary);
            border: none;
            border-radius: 3px;
            letter-spacing: 1px;
            cursor: pointer;
    
            &:hover {
                background-color: var(--light-blue-secondary);
            }
        }
    
        .select-box {
            text-align: right;
            margin: auto 0px 10px auto;
    
            span {
                color: var(--dark-grey);
            }
            
            table-header {
                margin: 0px 5px;
            }
        }
    }


}