<div class="image">
	<form>
		<div class="row">
			<div class="column">
				<div class="item">
					<label>Title</label>
					<input type="text" name="name" [(ngModel)]="item.title">
				</div>
				<div class="item">
					<label>Description</label>
					<input type="text" name="name" [(ngModel)]="item.title">
				</div>
				<div class="item">
					<label>Talent</label>
					<combo-box [items]="talents" [config]="comboBoxConfig"></combo-box>
				</div>
			</div>
			<div class="column">
				<div class="item">
					<div class="upload-container">
						<label for="file"><i class="fas fa-upload"></i>Upload Image</label>
						<input class="input-file" type="file" name="file" id="file" (change)="onFileChange($event)">
						<image-cropper [imageChangedEvent]="originalImage" format="jpeg" (imageCropped)="onImageCropped($event)"></image-cropper>
					</div>
				</div>
			</div>
		</div>
		<div class="row footer">
			<button type="button" class="green" (click)="onSaveClick()">Save</button>
		</div>
	</form>
</div>